In [1]:
# pip install pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Pandas series

In [4]:
df=pd.Series([1.0,3.0,5.0,7.0,9.0,11.0,13.0])

In [5]:
df

0     1.0
1     3.0
2     5.0
3     7.0
4     9.0
5    11.0
6    13.0
dtype: float64

In [6]:
type(df)

pandas.core.series.Series

In [7]:
df.shape

(7,)

In [8]:
df.head() #head used to display the first n number of observations default n = 5

0    1.0
1    3.0
2    5.0
3    7.0
4    9.0
dtype: float64

In [9]:
df.tail(2)#tail used to display the last n number of observations default n = 5

5    11.0
6    13.0
dtype: float64

In [10]:

import pandas as pd
import numpy as np

In [11]:
 #Pandas DataFrame - Using Numpy Dataset
data = np.arange(0,20).reshape(5,4)
df = pd.DataFrame(data,index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

In [12]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.head(2)

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7

In [15]:
df.tail(3)

      Column1  Column2  Column3  Column4
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [16]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [17]:
df.loc['Row1']#accessing the rows

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [18]:
df.loc['Row2']

Column1    4
Column2    5
Column3    6
Column4    7
Name: Row2, dtype: int32

In [19]:
type(df.loc['Row2'])

pandas.core.series.Series

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [22]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [23]:
df.loc['Row1']#accessing the row

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [24]:
df.loc[['Row1','Row2']]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7

In [25]:
# df.iloc[start:end,start:end]
df.iloc[2:,2:]

      Column3  Column4
Row3       10       11
Row4       14       15
Row5       18       19

In [26]:
df['Column2']

Row1     1
Row2     5
Row3     9
Row4    13
Row5    17
Name: Column2, dtype: int32

In [27]:
df[['Column2','Column3']]

      Column2  Column3
Row1        1        2
Row2        5        6
Row3        9       10
Row4       13       14
Row5       17       18

In [28]:
#Pandas DataFrame- using Dict
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [29]:
df=pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [30]:
df.loc[2]

calories    390
duration     45
Name: 2, dtype: int64

In [31]:
df['calories']

0    420
1    380
2    390
Name: calories, dtype: int64

In [32]:
#create a dict with same arrary
data1 = {
  "bp": [110,50,70],
  "bs": [150, 140, 145]
}

In [33]:
df1=pd.DataFrame(data1)
df1

    bp   bs
0  110  150
1   50  140
2   70  145

In [34]:
df1.loc[2]

bp     70
bs    145
Name: 2, dtype: int64

In [35]:
df1['bp']

0    110
1     50
2     70
Name: bp, dtype: int64

In [36]:
#Pandas DataFrame-Using CSV
#DataPart Charges 
pd.read_csv("data/supermarket_sales.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'data/supermarket_sales.csv'